@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";
 
 .shopping-cart{
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin:0;
    background-image: url("/images/what-the-hex.png");
    object-fit: cover;
    position:fixed;
    top: 8vh;
    right: 1vw;
    border-radius: 0.2vw;
    box-shadow: 0.2vw 0.2vw 0.5vw rgb(179, 179, 179);
    font-family: 'Iceland';
    @include mobile-only {
        position: fixed;
        bottom: 0;
        right: 0vw;
        left: 0vw;
        top:unset;
        width: 100vw;
        height: auto;
        background: transparent;
    }

    &__checkout {
        width: 100%;
        text-align:center;
        font-size: 3vw;
        color: rgb(0, 183, 255);
        background-image: url('/images/stripes-light.png');
        text-decoration:none;
        @include mobile-only {
            font-size: 3vh;
        }
        &:hover {
            color: orange;
        }
    }
    
    &__total-container {
        display:flex;
        flex-direction:row;
        align-items:center;
        width: 100%;
        height: 10%;
        background-image: url("/images/connectwork.png");
        
        font-size: 2vw;
        @include mobile-only {
            height: 10vh;
            font-size: 3vh;
        }
    }

    &__total-label {
        width: 80%;
        text-align: center;
        color:white;
    }

    &__total-price {
        width: 22%;
        margin-right: 2%;
        text-align: center;
        color:rgb(0, 87, 248);
        background:white;
        box-shadow: 0 0 0.3vw rgb(179, 179, 179);
        &::after {
            content: "€";
        }
    }

    &__products-container {
        width: 100%;
        height: 80%;
        @include mobile-only {
            display:flex;
            flex-direction:row;
            justify-content: flex-start;
            flex-wrap:wrap;
            border-top: 1vh solid rgb(0, 183, 255);
        }
    }

    &__product {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        width: 100%;
        padding: 0 0;
        margin: 0 0;
        background-color:rgba(245, 232, 94, 0.616);
        font-size: 1vw;
        @include mobile-only {
            background-color:white;
            padding: 0 0;
            min-height: 5vh;
            flex-wrap:wrap;
            align-items:center;
            flex-grow: 1;
            background-image: url("/images/what-the-hex.png");
            font-size: 2vh;
        }

        &:nth-child(odd) {
            background-color:rgba(211, 237, 255, 0.616);
            @include mobile-only {
                color: white;
                background-image: url("/images/what-the-hex-dark.png")
            }
        }
        &__name {
            width: 35%;
            padding-left: 2vw;
            box-sizing: border-box;

            @include mobile-only {

                text-align:center;
                font-size: 3vh;
            }
        }
        &__image {
            width: 10%;
            height: 3vw;
            object-fit:contain;
            @include mobile-only {
                height: 5vh;
                width: 15vw;
            }
        }
        &__quantity {
            width: 3vh;
            font-size: 1.3vw;
            text-align:center;
            @include mobile-only {
                font-size: 3vh;

            }
        }
        &__unit-price {
            width: 10%;
            @include mobile-only {
                font-size: 2vh;
                display: none;
            }
            
        }
        &__global-price {
            width: 10%;
            padding-right: 10%;
            @include mobile-only {
                padding-right: 0;
                margin-right: 2vh;
                text-align: center;
                border-radius: 0.2vw;
                font-size: 3vh;
                width: 20%;
                border-radius: 1vh;
            }
            &::after {
                content: "€";
                
            }
        }
        &__remove {
            width: 5%;
            @include mobile-only {
                padding-right: 0;
                text-align: center;
                margin-top: 1vh;
                width: auto;
            }
            
        }
        &__increment {
            width: 1.5vw;
            height: 1.5vw;
            border:none;
            background:transparent;
            color: green;
            font-weight:bold;
            font-size: 1vw;
            margin-right: 5%;
            display: flex;
            align-items:center;
            align-content:center;
            @include mobile-only {
                font-size: 3vh;
                width: 3vh;
                height: 3vh;
            }
        }
        &__decrement {
            width: 1.5vw;
            height: 1.5vw;
            border:none;
            background:transparent;
            color: red;
            font-weight:bold;
            font-size: 1vw;
            display: flex;
            align-items:center;
            justify-content:center;
            @include mobile-only {
                font-size: 3vh;
                width: 3vh;
                height: 3vh;
            }
        }
        &__quantity-container {
            display:flex;
            flex-direction: row;
            align-content:center;
            align-items:center;
        }
    }
    &__product-label {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        align-content:center;
        width: 100%;
        height: 10%;
        padding: 0 0;
        margin: 0 0;
        background-color:transparent;
        font-size: 1vw;
        padding-left: 17%;
        @include mobile-only {
            font-size: 3vh;
            display: none;
        }
        &__quantity {
            width: 10%;
            text-align:left;
        }

        &__name {
            width: 40%;
            box-sizing: border-box;
            text-align: left;
            
        }
        &__unit-price {
            width: 12%;
            
        }
        &__remove {
            width: 12%;
            color: red;           
        }
    }
}